@import '../../variables';

@mixin button($color: $probo-pale, $bottom-color: $probo-pale-dark, $border-color: $probo-pale-dark, $font-color: $body-font-color) {
  display: inline-block;
  border: 2px solid $border-color;
  background-color: $color;
  background-image: linear-gradient(to bottom, $color, $bottom-color);
  appearance: none;
  padding: 6px 12px;
  border-radius: $border-radius;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  color: $font-color;

  &:hover {
    text-decoration: none;
    background-color: darken($color, 7%);
    background-image: linear-gradient(to bottom, $bottom-color, $border-color);
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
  }

  &:active,
  &:focus {
    background-image: none;
    background-color: $border-color;
  }

  &:disabled {
    background-image: none;
    background-color: $probo-pale-dark;
    color: $probo-pale;
    border-color: $probo-pale-dark;
    &:hover {
      color: $probo-gray-medium;
      box-shadow: none;
    }
  }
}

.button {
  @include button;

  &.button--primary {
    @include button($probo-purple, $probo-purple-dark, $probo-purple-darkest, $probo-pale);
  }

  &.button--success {
    @include button($probo-alert-success, darken($probo-alert-success, 5%), darken($probo-alert-success, 5%), $probo-pale);
  }

  &.button--warning {
    @include button($probo-alert-warning, darken($probo-alert-warning, 5%), darken($probo-alert-warning, 5%), $probo-pale);
  }

  &.button--info {
    @include button(lighten($probo-blue, 2%), $probo-blue, darken($probo-blue, 6%), $probo-pale);
  }

  &.button--danger {
    @include button($probo-alert-error, darken($probo-alert-error, 5%), darken($probo-alert-error, 5%), $probo-pale);
  }

  &.button--black {
    background-color: black;
  }

  &.button--light {
    background-color: #f7f7f7;
    color: black;
  }

  &.button--dark {
    @include button(lighten($probo-blue-dark, 10%), $probo-blue-dark, darken($probo-blue-dark, 6%), $probo-pale);
  }
}
