@import '../../global';

$button-font-size: 13px;

@mixin button($color: $probo-pale, $bottom-color: $probo-pale-dark, $border-color: $probo-pale-dark, $font-color: $body-font-color, $inverted: false) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid $border-color;
  appearance: none;
  padding: $base-margin / 2 $base-margin;
  border-radius: $border-radius;
  cursor: pointer;
  text-decoration: none;
  font-weight: 600;
  font-family: $body-text-font-family;
  text-shadow: 0 -1px 0 rgba($probo-pale, 0.4);
  font-size: $button-font-size;
  vertical-align: top;
  transition: color 0.15s ease-in-out, background 0.15s ease-in-out;
  will-change: true;

  @if $inverted == true {
    background-color: transparent;
    background-image: none;
    color: $color;
  }
  @else {
    background-color: $color;
    background-image: linear-gradient($color, $bottom-color);
    color: $font-color;
  }

  &:hover {
    text-decoration: none;

    @if $inverted == true {
      background-color: $color;
      background-image: none;
      color: $font-color;
    }
    @else {
      background-color: darken($color, 2%);
      background-image: linear-gradient(darken($color, 2%), darken($bottom-color, 5%));
      color: $font-color;
    }
  }

  &:active,
  &:focus {
    box-shadow: 0 0 2px rgba($probo-gray-dark, 0.5);
  }

  &:disabled {
    background-image: none;
    background-color: $probo-pale-dark;
    color: $probo-pale;
    border-color: $probo-pale-dark;

    &:hover {
      color: $probo-gray-medium;
      box-shadow: none;
    }
  }
}

.button {
  @include button;

  &.button--inverted {
    @include button($probo-pale-darker, $probo-pale-darker, $probo-pale-darker, $probo-pale, true);
  }

  &.button--primary {
    @include button($probo-purple, $probo-purple-dark, $probo-purple-darkest, $probo-pale);

    &.button--inverted {
      @include button($probo-purple, $probo-purple, $probo-purple, $probo-pale, true);
    }
  }

  &.button--success {
    @include button($probo-alert-success, darken($probo-alert-success, 5%), darken($probo-alert-success, 5%), $probo-pale);

    &.button--inverted {
      @include button($probo-alert-success, $probo-alert-success, $probo-alert-success, $probo-pale, true);
    }
  }

  &.button--warning {
    @include button($probo-alert-warning, darken($probo-alert-warning, 5%), darken($probo-alert-warning, 5%), $probo-pale);

    &.button--inverted {
      @include button($probo-alert-warning, $probo-alert-warning, $probo-alert-warning, $probo-pale, true);
    }
  }

  &.button--info {
    @include button(lighten($probo-blue, 2%), $probo-blue, darken($probo-blue, 6%), $probo-pale);

    &.button--inverted {
      @include button(lighten($probo-blue, 2%), lighten($probo-blue, 2%), lighten($probo-blue, 2%), $probo-pale, true);
    }
  }

  &.button--danger {
    @include button($probo-alert-error, darken($probo-alert-error, 5%), darken($probo-alert-error, 5%), $probo-pale);

    &.button--inverted {
      @include button($probo-alert-error, $probo-alert-error, $probo-alert-error, $probo-pale, true);
    }
  }

  &.button--black {
    background-color: black;
  }

  &.button--light {
    background-color: #f7f7f7;
    color: black;
  }

  &.button--dark {
    @include button(lighten($probo-blue-dark, 10%), $probo-blue-dark, darken($probo-blue-dark, 6%), $probo-pale);

    &.button--inverted {
      @include button(lighten($probo-blue-dark, 10%), lighten($probo-blue-dark, 10%), lighten($probo-blue-dark, 10%), $probo-pale, true);
    }
  }

  &.button--small {
    font-size: 0.85 * $button-font-size;
    padding: $base-margin * 0.3 $base-margin;
  }

  &.button--medium {
    font-size: 1.1 * $button-font-size;
    padding: $base-margin * 0.7 $base-margin * 1.25;
  }

  &.button--large {
    font-size: 1.2 * $button-font-size;
    padding: $base-margin * 0.7 $base-margin * 1.25;
  }
}
