@import 'variables';

html {
  font-size: responsive;
  min-font-size: 12px;
  max-font-size: 26px;
  lower-font-range: 420px;
  upper-font-range: 1280px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $body-text-font-family;
}
